controllers:
  - controller: local
    uuid: 12345678-1234-1234-1234-1234567890ab
    username: username
    password: password
    owner_id: 1
    cacert: |
      -----BEGIN CERTIFICATE-----
      ...
      -----END CERTIFICATE-----